$roxoBackground: rgb(56, 6, 97);
$roxoHeader: #6A51B7;

body {
  margin: 0;
  background: $roxoBackground;
  font-family: sans-serif;

  a{
    color: white;
  }
  
  header{
    height: 3.5rem;
    width: 100vw;
    padding: .5rem 1rem;
    background-color: $roxoHeader;
    display: flex;

    .img{
      width: 80%;
      img{
        width: 5.5rem;
      }
    }

    #usuario{
      width: 15%;
      line-height: 3.5;
      color: white;
      font-weight: 600;
      font-size: 1rem;
      text-transform: capitalize;
    }
  }

  #content {
    width: 60vw;
    margin: 0 auto;
    color: white;
    text-align: center;
  
    h1{
      text-align: center;
    }
  
    .dados{
      padding-bottom: 1rem;
      padding-left: 4rem;
      font-size: 1.2rem;
      text-align: left;
      span{
        padding-left: 1rem;
      }
    }
  
    #botoes{
      text-align: center;
      padding-bottom: 1rem;
      button{
        background-color: $roxoBackground;
        border-radius: 3px;
        color: white;
        font-size: 25px;
        line-height: 3;
        border: 2px solid white;
        margin-right: 2.5rem;
        cursor: pointer;
      }
    }
  
    hr{
      margin: 0 4rem;
    }
  
    ul{
      padding-left: 5rem;
      li{
        text-align: left;
      }
    }
  
    p{
      .status{
        text-align: left;
        padding-left: 4rem;
      }
    }
  }
}