$roxoBackground: rgb(56, 6, 97);

#content {
  form{
    text-align: left;
    margin: 0 auto;
    width: 50%;
    font-size: 1.2rem;

    input{
      display: block;
      width: 27rem;
      margin-bottom: 1rem;
      line-height: 1.5;
      font-size: 1rem;
    }

    #submit-form{
      background-color: $roxoBackground;
      border-radius: 3px;
      color: white;
      font-size: 25px;
      line-height: 3;
      border: 2px solid white;
      margin-right: 2.5rem;
      cursor: pointer;
      width: 14rem;
      margin: 0 auto;
    }
  }
}